name: BrokerBench Landing Page Deployment


on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run remote deploy script
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PRIVATE_KEY }}
          port: 22
          script: |
            cd /root/BrokerBench-LandingPage
            git pull origin main
            npm install
            npm run build
            cp -r dist/* /var/www/brokerbench/
            systemctl reload caddy
